$primary: black; 
$body-bg: #f2eded;
$navbar-background-color: black;
$navbar-link-color: #fff;

// Navbar
.navbar {
  background-color: $navbar-background-color;
  
  .nav-link {
    color: rgba(255, 255, 255, 0.5); // Less active color
    
    &.active {
      font-weight: bold;
      color: $navbar-link-color; // Active color, using variable
    }
    
    &:hover {
      text-decoration: underline;
      color: lighten($navbar-link-color, 20%); // Lightens the color on hover
    }
  }
}

// Jumbotron
.jumbotron {
  background: url('../img/pirate-ship.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 4rem 0;
  
  h1.display-4, .lead {
    font-family: 'Libre Baskerville', serif;
    color: inherit;
  }
}

// Adjusting space around the carousel
#carouselExampleCaptions {
  margin-top: 2rem; // Adds space below the Jumbotron
  margin-bottom: 2rem; // Adds space above the footer
}

// Footer
footer {
  background-color: #565c58;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
