$primary: black; 
$body-bg: #f2eded;
$navbar-background-color: black;
$navbar-link-color: #fff;

// Import Roboto Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import the article styles
@import 'article';

// Navbar customization
.navbar {
  background-color: $navbar-background-color;

  .nav-link {
    color: $navbar-link-color;
    &:hover {
      text-decoration: underline;
      color: lighten($navbar-link-color, 20%);
    }
  }

  .nav-item.active .nav-link {
    font-weight: bold;
    color: $navbar-link-color;
  }
}

// Jumbotron customization
.jumbotron {
  background: url('../img/pirate-ship.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 4rem 0;
  h1.display-4, .lead {
    font-family: 'Libre Baskerville', serif;
    color: inherit;
  }
}

// Footer
footer {
  background-color: #6b9177;
  color: white; 
  text-align: center; 
  padding: 1rem 0;
}