$primary: black; 
$body-bg: #f2eded;
$navbar-background-color: black;
$navbar-link-color: #fff;

// Navbar customization
.navbar {
  background-color: $navbar-background-color;
  
  .nav-link {
    color: $navbar-link-color;
    &:hover {
      text-decoration: underline;
      color: lighten($navbar-link-color, 20%);
    }
  }
  
  .nav-item.active .nav-link {
    font-weight: bold;
    color: $navbar-link-color;
  }
}

// Jumbotron customization
.jumbotron {
  background: url('../img/pirate-ship.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 4rem 0;
  
  h1.display-4, .lead {
    font-family: 'Libre Baskerville', serif;
    color: inherit;
  }
}

// Adjusting space around the carousel
#carouselExampleCaptions {
  margin-top: 2rem; // Adds space below the Jumbotron
  margin-bottom: 2rem; // Adds space above the footer
}

// Footer customization
footer {
  background-color: #6b9177;
  color: white;
  text-align: center;
  padding: 1rem 0;
}