// Define your color variables here
$primary: black; 
$body-bg: #f2eded;
$navbar-link-color: #fff;

// Import Roboto Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom styles:

// Navbar customization
.navbar {
  background-color: $navbar-background-color;

  .nav-link {
    color: $navbar-link-color; // Sets the navbar links color to white

    &:hover {
      text-decoration: underline; // Underlines the nav link on hover
      color: lighten($navbar-link-color, 20%); // Optionally, lighten the link color on hover
    }
  }

  .nav-item.active .nav-link {
    font-weight: bold; // Boldens the active nav link
    color: $navbar-link-color; // Ensures the active link is also white
  }
}

// Jumbotron customization
.jumbotron {
  background: url('../img/pirate-ship.jpg') no-repeat center center;
  background-size: cover;
  color: white; // Sets the jumbotron text to white
  text-align: center; // Centers the jumbotron text
  padding: 2rem 0; // Adjusted padding, 2rem top and bottom
  h1.display-4, .lead {
    font-family: 'Libre Baskerville', serif; // Set Baskerville-style font
    color: inherit; // Inherits the jumbotron text color
  }
}


// Title above the cards
.page-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem; // Adjust the font size as necessary
  margin-top: 0; // Reduced top margin
  margin-bottom: 1rem; // Adds margin below the title for spacing
  text-align: left;
  margin-left: 0;
}

// Cards customization
.card {
  margin-top: 0; // Reduced top margin
  .card-title {
    font-family: 'Roboto', sans-serif; // Sets the card title font
    font-weight: 500; // Sets the card title font weight to bold
  }
  .card-text {
    font-family: 'Roboto', sans-serif; // Sets the card text font
  }
}

// Footer
footer {
  background-color: #6e907a;
  color: white; 
  text-align: center; 
  padding: 1rem 0;
}

