$primary-color: #333;
$body-bg: #f2eded;
$font-family-main: 'Roboto', sans-serif;
$font-family-title: 'Libre Baskerville', serif;
$navbar-background-color: black;
$navbar-link-color: #fff;
$navbar-link-color-active: #fff; // Active color for the link
$navbar-link-color-inactive: rgba(255, 255, 255, 0.5); // Inactive color for the link

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

// Import Bootstrap and other partials
@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'article';
@import 'photos';

// Navbar styles
.navbar {
  background-color: $navbar-background-color;

  .nav-link {
    color: $navbar-link-color-inactive; // Use the inactive color by default

    &.active {
      color: $navbar-link-color-active; // Use the active color when .active class is applied
      font-weight: bold;
    }

    &:hover {
      text-decoration: underline;
      color: lighten($navbar-link-color, 20%); // Lighten color on hover
    }
  }
}

// Jumbotron
.jumbotron {
  background: url('../img/pirate-ship.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 5rem 0;
  h1.display-4, .lead {
    font-family: 'Libre Baskerville', serif;
    color: inherit;
  }
}

// Title above the cards
.page-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 0;
  font-weight: bold;
}

// Cards
.card {
  margin-top: 0;
  .card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  .card-text {
    font-family: 'Roboto', sans-serif;
  }
}

// Footer
footer {
  background-color: #565c58;
  color: white; 
  text-align: center; 
  padding: 1rem 0;
}


